@charset "UTF-8";

@use "sass:map";

/// Apply Adaptable's default properties to undefined values within a map.
///
/// @argument {map} $grid
///
/// @return {map}
///
/// @example scss
///
///   _retrieve-adaptable-setting($adaptable-grid)
///
/// @access private
///

@function adaptable-merge-defaults($grid) {
  $_merged-grid: map.merge(
    (
      mode: "flex",
      columns: 12,
      column-gap: 1.5rem,
      row-gap: 1.5rem,
      color: rgba(#00d4ff, 0.25),
      direction: ltr,
    ),
    $grid
  );

  @return $_merged-grid;
}
