*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

main {
  max-width: 1200px + map-get($adaptable-grid, gutter);
  margin-right: auto;
  margin-left: auto;
  padding-right: map-get($adaptable-grid, gutter) / 2;
  padding-left: map-get($adaptable-grid, gutter) / 2;
  background-color: red;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
