.grid-column--media-3-to-6 {
  @include grid-column(3);

  &::before {
    content: "#{map-get($adaptable-grid, media)}";
  }

  @include mq($from: medium) {
    background-color: cornflowerblue;
  }

  @include mq($from: large) {
    @include grid-span(6);
    background-color: red;

    &::before {
      content: "#{map-get($mq-breakpoints, large)}";
    }
  }
}
