@charset "UTF-8";
/// Spans an element across the width of specified columns.
///
/// @group features
///
/// @name Grid span
///
/// @argument {number (unitless)} $columns [null]
///   Specifies the number of columns an element should span based on the total
///   columns of the grid.
///
///   This can also be defined in a shorthand syntaxt which also contains the
///   total column count such as `3 of 5`.
///
/// @argument {map} $grid [$adaptable-grid]
///   The grid to be used to generate the column.
///   By default, the global `$adaptable-grid` will be used.
///
/// @example scss
///
///   .element {
///     @include grid-span(3);
///   }
///
/// @example css
///
///   .element {
///       flex: 0 0 auto;
///       width: calc(25% - 1.5rem);
///   }
///

@mixin grid-span($columns: null, $grid: $adaptable-grid) {
  $_mode: _retrieve-adaptable-setting($grid, mode);
  $columns: _adaptable-column-default($grid, $columns);

  @if ($_mode and $_mode == "flex") {
    flex: 0 0 auto;
    width: calc(#{_adaptable-column-width($grid, $columns)});
  } @else {
    grid-column-end: span nth($columns, 1);
  }
}
