@charset "UTF-8";
/// Creates a sub-grid object that consumes the gutters of its container,
/// for use in nested layouts.
///
/// @group features
///
/// @name Grid nest
///
/// @argument {map} $grid [$adaptable-grid]
///   The grid to be used to generate the nested container.
///   By default, the global `$adaptable-grid` will be used.
///
/// @example scss
///
///   .element {
///     @include grid-nest;
///   }
///
/// @example css
///
///   .element {
///     display: flex;
///     flex-wrap: wrap;
///     margin-left: -24px;
///     margin-right: -24px;
///     width: calc(100% + 48px);
///   }
///

@mixin grid-nest($grid: $adaptable-grid) {
  $_grid-gutter: _retrieve-adaptable-setting($grid, gutter);

  @if unit($_grid-gutter) == "%" {
    @warn "`grid-nest` is not compatible with percentage based gutters.";
  }

  display: flex;
  flex-wrap: wrap;
  margin-#{_adaptable-layout-direction($grid)}: -($_grid-gutter);
  margin-#{_adaptable-opposite-direction($grid)}: -($_grid-gutter);
  flex: 0 0 calc(100% + #{($_grid-gutter * 2)});
  max-width: calc(100% + #{($_grid-gutter * 2)});
}
