@charset "UTF-8";

@use "sass:list";
@use "sass:math";
@use "../functions/adaptable-column-width";
@use "../functions/adaptable-layout-direction";
@use "../functions/retrieve-adaptable-settings";
@use "../settings/settings";

/// Set the column start.
///
/// @group features
///
/// @name Grid column start
///
/// @argument {number (unitless)} $start [false]
///   The column start number to start the column.
///
/// @argument {map} $grid [$adaptable-grid]
///   The grid to be used to determine where to start the column.
///   By default, the global `$adaptable-grid` will be used.
///
/// @example scss
///
///   .element {
///     @include grid-column-start(3);
///   }
///
/// @example css
///
///   .element {
///     margin-left: calc(25% - 1.5rem + 2.25rem);
///   }
///

@mixin grid-column-start(
  $column-start: false,
  $grid: settings.$adaptable-grid
) {
  $_mode: retrieve-adaptable-settings.retrieve-adaptable-setting($grid, mode);
  $_grid-columns: retrieve-adaptable-settings.retrieve-adaptable-setting(
    $grid,
    columns
  );
  $_grid-column-gap: retrieve-adaptable-settings.retrieve-adaptable-setting(
    $grid,
    column-gap
  );

  @if ($_mode and $_mode == "flex") {
    @if ($column-start and $column-start != "auto") {
      $_column-gap-affordance: ($_grid-column-gap * 2) -
        (math.div($_grid-column-gap, 2));
      $_margin-value: calc(
        #{adaptable-column-width.adaptable-column-width(
            $grid,
            ($column-start - 1)
          )} +
          #{$_column-gap-affordance}
      );

      margin-#{adaptable-layout-direction.adaptable-layout-direction($grid)}: $_margin-value;
    } @else {
      $_margin-value: retrieve-adaptable-settings.retrieve-adaptable-setting(
        $grid,
        column-gap
      );

      margin-#{adaptable-layout-direction.adaptable-layout-direction($grid)}: $_margin-value;
    }
  } @else {
    @if ($column-start and $column-start != "auto") {
      $_column-start: list.nth($column-start, 1);

      grid-column-start: $_column-start;
    } @else {
      grid-column-start: auto;
    }
  }
}
