@charset "UTF-8";
/// Creates a grid container with display flex.
///
/// @group features
///
/// @name Grid container
///
/// @example scss
///
///   .element {
///     @include grid-container;
///   }
///
/// @example css
///
///   .element {
///     display: flex;
///     flex: 1 0 calc(100% + 48px);
///     flex-wrap: wrap;
///     margin-left: -24px;
///     margin-right: -24px;
///   }
///

@mixin grid-container($grid: $adaptable-grid) {
  @if $grid != $adaptable-grid {
    @warn "`grid-container` does not use grid properties. " +
          "Custom grids do not need to be passed in to this mixin.";
  }

  $_grid-gutter: _retrieve-adaptable-setting($grid, gutter);

  @if unit($_grid-gutter) == "%" {
    @warn "`grid-container` is not compatible with percentage based gutters.";
  }

  display: flex;
  flex: 1 0 calc(100% + #{($_grid-gutter * 2)});
  flex-wrap: wrap;
  margin-#{_adaptable-layout-direction($grid)}: -($_grid-gutter);
  margin-#{_adaptable-opposite-direction($grid)}: -($_grid-gutter);
}
