@charset "UTF-8";
/// Creates a grid column of requested size.
///
/// @group features
///
/// @name Grid column
///
/// @argument {number (unitless)} $columns [null]
///   Specifies the number of columns an element should span based on the total
///   columns of the grid.
///
///   This can also be defined in a shorthand syntaxt which also contains the
///   total column count such as `3 of 5`.
///
/// @argument {map} $grid [$adaptable-grid]
///   The grid to be used to generate the column.
///   By default, the global `$adaptable-grid` will be used.
///
/// @example scss
///
///   .element {
///     @include grid-column(3);
///   }
///
/// @example css
///
///   .element {
///     flex-shrink: 0;
///     width: calc(25% - 30px);
///     max-width: calc(100% - 48px);
///     margin-left: 24px;
///   }
///

@mixin grid-column($columns: null, $grid: $adaptable-grid) {
  $columns: _adaptable-column-default($grid, $columns);
  $_grid-gutter: _retrieve-adaptable-setting($grid, gutter);

  flex-shrink: 0;
  width: calc(#{_adaptable-column-width($grid, $columns)});
  max-width: if($_grid-gutter == 0, 100%, calc(100% - #{$_grid-gutter}));
  // margin-#{_adaptable-layout-direction($grid)}: $_grid-gutter;
  margin-right: $_grid-gutter / 2;
  margin-left: $_grid-gutter / 2;
}
