$color-adaptable-blue: #53aee0;
$color-adaptable-orange: #ff7c56;
$color-white: #fff;

$adaptable-grid: (
  // mode: "grid",
  columns: 12,
  column-gap: 1.5rem,
  row-gap: 1.5rem
);

$mq-breakpoints: (
  md: 480px,
  lg: 960px,
);
